.main-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.logo {
  margin-bottom: 10px;
}

.cards-window {
  /* border: 2px solid rgb(47, 47, 47);
  border-radius: 10px; */
  height: 500px;
  width: 60%;
  /* align-content: center; */
}