@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap');


body {
  background: linear-gradient(to bottom, rgb(38, 3, 59), black);
  height: 100vh;
  color: rgb(255, 246, 231);
  font-family: "Faculty Glyphic", sans-serif;
}