@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap');


body {
  background-color: rgb(19, 2, 26);
  color: rgb(255, 246, 231);
  font-family: "Faculty Glyphic", sans-serif;
}