@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap');


body {
  padding: 10px;
  background-color: rgb(19, 2, 26);
  /* background-color: rgb(255, 255, 255); */
  color: white;
  font-family: "Faculty Glyphic", sans-serif;
}