.card-container {
  position: relative;
  width: 310px;
  /* height: 450px; */
}

.card-pile {
  position: relative;
}

.card-back,
.current-card {
  position: absolute;
  top: var(--top-offset);
  left: var(--left-offset);
}

/* Apply vertical layout when screen width is below 600px */
@media (max-width: 600px) {
  .card-back,
  .current-card {
    left: 0; /* Stack cards vertically by setting left to 0 */
  }
}