.game-window {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

@media (max-width: 600px) {
  .game-logo img {
    width: 75px; 
  }
}

.cards-container {
  display: flex;
  justify-content: space-around;
  min-width: 800px;
  max-width: 1000px;
  height: 470px;
}

.cards-grid {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10vw;
}

@media (max-width: 600px) {
  .cards-grid {
    grid-template-columns: auto; 
    grid-template-rows: auto auto; /* Specify rows if needed */
    row-gap: 7vh; /* Add spacing between rows */
  }
}

.drifting-text {
  position: absolute;
  white-space: nowrap; 
  font-size: 9rem; 
  top: 40%; 
  color: white;
  transform: translateX(100vw); 
  animation: smooth-drift 4s linear forwards; 
  z-index: 50;
}

@keyframes smooth-drift {
  0% {
    transform: translateX(100vw); 
  }
  100% {
    transform: translateX(-100vw); 
  }
}

@media (max-width: 725px) {
  .drifting-text {
    font-size: 5rem; 
    transform: translateX(150vw); 
    animation: smooth-drift-mobile 4s linear forwards; 
  }
}

@keyframes smooth-drift-mobile {
  0% {
    transform: translateX(150vw); 
  }
  100% {
    transform: translateX(-150vw); 
  }
}

.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
  color: white;
  font-size: 24px;
}
