.game-window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.game-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.cards-container {
  display: flex;
  justify-content: space-around;
  min-width: 800px;
  max-width: 1000px;
  height: 470px;
}

.drifting-text {
  position: absolute;
  white-space: nowrap; 
  font-size: 4rem; 
  top: 5%; 
  right: -50%;
  animation: drift-left 3.5s linear forwards;
  z-index: 50;
}

@keyframes drift-left {
  0% {
    right: -50%; 
  }
  100% {
    right: 150%;
  }
}