.game-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* height: 100vh; */
}

.game-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.cards-container {
  display: flex;
  justify-content: space-around;
  min-width: 800px;
  max-width: 1000px;
  height: 470px;
}

.drifting-text {
  position: absolute;
  white-space: nowrap; 
  font-size: 9rem; 
  top: 40%; 
  color: white;
  transform: translateX(100vw); 
  animation: smooth-drift 4s linear forwards; 
  z-index: 50;
}

@keyframes smooth-drift {
  0% {
    transform: translateX(100vw); 
  }
  100% {
    transform: translateX(-100vw); 
  }
}