.card-body {
  border: 2px solid rgb(63, 63, 63);
  border-radius: 10px;
  height: 460px;
  width: 310px;
  align-items: center;
  background-color: rgb(30, 30, 30);
}

.card-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px; 
  position: absolute;
  opacity: 0.07;
}

.card-content {
  border: 2px solid rgb(88, 88, 88);
  border-radius: 10px;
  height: 90%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.card-body, .trump-picture {
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.card-body.visible, .trump-picture.visible {
  opacity: 1;
}

.trump-picture {
  position: relative;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
}

.trump-picture img {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px; 
  border-bottom: 2px solid rgb(88, 88, 88);
  position: relative;
}

.title {
  font-size: x-large;
  position: absolute;
  bottom: 2%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  padding-left: 3%;
  padding-right: 3%;
}

.choices {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.attribute {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgb(88, 88, 88);
  background-color: rgba(0, 0, 0, 0.3);
}

.attribute.active-hover:hover {
  background-color: rgba(0, 0, 0, 1);
  color:rgb(169, 166, 161);
  cursor: pointer;
}

.attribute.highlightp1WinP1Turn {
  color: rgb(60, 255, 0);
}

.attribute.highlightp2WinP1Turn {
  color: rgb(255, 0, 0);
}

.attribute.highlightp2WinP2Turn {
  color: rgb(60, 255, 0);
}

.attribute.highlightp1WinP2Turn {
  color: rgb(255, 0, 0);
}

@keyframes redFlash {
  100% {
    color: rgb(255, 0, 0);
  }
}

.redFlash {
  animation: redFlash 0.5s steps(2) infinite;
}

@keyframes greenFlash {
  100% {
    color: rgb(60, 255, 0);
  }
}

.greenFlash {
  animation: greenFlash 0.5s steps(2) infinite;
}